build
debug
*~
*.swp
tags
bin
src/autonomy_protocol/research-autonomy-protocols/
src/autonomy_protocol/ta-autonomy-protocol
labs/lab4-solution-aerial-robotics
.idea/
.vscode/
cmake-build-debug/
launch/*.log
